/* Reset CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-color: #000000;
    color: white;
    display: flex; /* this puts the child elements side by side */
    justify-content: space-between; /* Pushes first item to start, last item to end */
    align-items: center; /* this centers them vertically */
    height: 200px;
    padding: 0 150px; /* Adds some horizontal padding */
    font-family: 'Arial', sans-serif;
    font-size: 4rem;
}
.brand-logo{
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 50px; /* space between links */
}

.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(37, 36, 36);
    font-family: sans-serif;
    /* Button-like appearance */
    padding: 20px 35px;
    border: 2px solid white; /* invisible border to keep size constant */
    border-radius: 17px;
}
.btn-primary{
    background-color: #4C5FD5; /* bright color for primary action */
    border: 2px solid transparent;
}

.hero-section{
    background-color:#dadbf1;
    height: 1500px;
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.hero-section h1{
    font-family: 'Arial', sans-serif;
    font-size: 14rem;
    margin-bottom: 30px;  /* Push the search bar down */
    letter-spacing: -1px;
}

.search-input{
    width: 100%;
    height: 200px;
    padding: 30px 50px;
    font-size: 4rem;
    border: 1px solid #000;
    /* The Shadow (x-offset, y-offset, blur, color) */
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.search-wrapper {
    position: relative; /* This makes it the "anchor" for the arrow */
    width: 2400px;       /* The wrapper controls the width now */
}

.search-arrow {
    position: absolute; /* Unlock it from the normal flow */
    right: 50px;        /* 20px away from the right edge */
    top: 50%;           /* Move it down 50% of the box height */
    
    /* Centering Trick */
    /* Right now, the TOP of the arrow is at 50%. We need the MIDDLE to be at 50%. */
    transform: translateY(-50%); 
    
    font-size: 5.5rem;  /* Make the arrow big */
    font-weight: bolder;
}